html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

img {
  border: 0;
}

.list-group, .list-group-inline, .list-group--inline {
  padding-left: 0;
  list-style-type: none;
}

.list-group-inline::before,
.list-group-inline::after,
.list-group--inline::before,
.list-group--inline::after {
  content: "";
  display: table;
}

.list-group-inline::after,
.list-group--inline::after {
  clear: both;
}

.list-group-inline > li,
.list-group--inline > li {
  display: inline-block;
}

.embed {
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.embed-3by2, .embed--3by2 {
  padding-top: 66.6%; /* Classic 35 mm film & most digital photos, landscape */
}

.embed-item, .embed__item {
  min-height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.block {
  display: block;
}

.inline-block, .ib {
  display: inline-block;
}

.valign-middle {
  vertical-align: middle;
}

.relative {
  position: relative;
}

[class*="pin-"],
.absolute {
  position: absolute;
}

.pin-top-left,
.pin-left-top,
.pin-tl,
.pin-lt {
  top: 0;
  left: 0;
}
